body {
    background-image: url('background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: unset;
}

.square{ 
    margin: auto;
    padding: 10px;
    position: static;
    width: 900px; 
    height: 1000px; 
    background-color: rgb(121, 63, 24);
    text-align: center;
} 

.fa {
  padding: 20px;
  font-size: 40px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 1;
}

.fa-instagram {
    background: #78a0b8;
    color: blanchedalmond;
}
